html {
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    width: calc(min(620px, 100%) - 2em);
    margin: 0 auto;
}

.markup a {
    color: inherit;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.markup a:hover {
    opacity: 100%;
    text-decoration: underline;
}

/* Components */

.h1-sub,
.h2-sub {
    font-weight: 700;
    opacity: 50%;
    margin-left: 16px;
    font-size: 0.5em;
}

code {
    border-radius: 0.25em;
}

.article-block {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border-radius: 0.25em;
}

.article-block:hover {
    background-color: #efefef;
}

.dark .article-block:hover {
    background-color: #151515;
}

/* Useful Stuff */

.w-spacer {
    width: 100%;
}

/* Theming */

body,
body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

/* Header */

#header {
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    width: calc(min(620px, 100%));
    padding: 0 calc((100vw - 620px) / 2);
}

.header-button {
    position: relative;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.header-button button {
    all: unset;
    margin: -10px;
    padding: 10px;
}

.header-button button svg {
    margin-top: 0.15em;
    margin-bottom: -0.15em;
    width: 1em;
    height: 1em;
}

#header {
    background-color: #000;
    color: #fff;
}

.dark #header {
    background-color: #fff;
    color: #000;
}

.header-button:hover {
    background-color: #fff;
    color: #000;
}

.dark .header-button:hover {
    background-color: #000;
    color: #fff;
}
