:root {
    --dark-bg: #111;
    --dark-color: #d8d8d8;
    --dark-code-bg: #222;

    --light-bg: #fff;
    --light-color: #333;
    --light-code-bg: #f6f6f6;
}

html {
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.45;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    width: calc(min(640px, 100%) - 2em);
    margin: 0 auto;
}

.markup a {
    color: inherit;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.markup * {
    max-width: 100%;
}

.markup a:hover {
    opacity: 100%;
    text-decoration: underline;
}

/* Components */

.h1-sub,
.h2-sub {
    font-weight: 700;
    opacity: 50%;
    margin-left: 16px;
    font-size: 0.5em;
}

.code-block {
    border-radius: 0.25em;
    font-size: 0.8em !important;
}

code {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace !important;
}

p code {
    background-color: var(--light-code-bg) !important;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
}

.dark p code {
    background-color: var(--dark-code-bg) !important;
}

.article-block {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border-radius: 0.25em;
}

.article-block:hover {
    background-color: #efefef;
}

.dark .article-block:hover {
    background-color: #151515;
}

img {
    border-radius: 4px;
}

/* Useful Stuff */

.w-spacer {
    width: 100%;
}

/* Theming */

body,
body.light {
    background-color: var(--light-bg);
    color: var(--light-color);
}

body.dark {
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

/* Header */

#header {
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    width: calc(min(620px, 100%));
    padding: 0 calc((100vw - 620px) / 2);
    z-index: 10;
}

.header-button {
    position: relative;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.header-button button {
    all: unset;
    margin: -10px;
    padding: 10px;
}

.header-button button svg {
    margin-top: 0.15em;
    margin-bottom: -0.15em;
    width: 1em;
    height: 1em;
}

#header,
.light #header,
.dark .header-button:hover {
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

.dark #header,
.light .header-button:hover {
    background-color: var(--light-bg);
    color: var(--light-color);
}

code {
    background-color: unset !important;
    color: unset !important;
}

.code-block {
    background-color: var(--light-code-bg) !important;
}

.dark .code-block {
    background-color: var(--dark-code-bg) !important;
}

/* Transition */

body,
#header,
.code-block,
p code {
    transition: color 0.15s ease, background-color 0.15s ease;
}
